{% extends "base.html" %}

{% block content %}
<header class="welcome-header">
    <h1>Selamat Datang di Maluku Tenggara</h1>
    <p>Jelajahi informasi mengenai sejarah, geografi, budaya, dan pariwisata di Maluku Tenggara.</p>
</header>

<section class="menu-container">
    <a href="/sejarah" class="menu-box">
        <h3>Sejarah</h3>
        <p>Pelajari sejarah dan asal-usul Maluku Tenggara.</p>
    </a>

    <a href="/geografi" class="menu-box">
        <h3>Geografi</h3>
        <p>Kenali letak geografis dan wilayah Maluku Tenggara.</p>
    </a>

    <a href="/demografi" class="menu-box">
        <h3>Demografi</h3>
        <p>Temukan informasi mengenai penduduk dan budaya.</p>
    </a>
</section>
{% endblock %}
